main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.diablitoons-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  width: 100%;
  height: fit-content;
  margin-top: 10rem;
}

.diablitoons-text-main {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 1300px;
  height: fit-content;
  font-size: 120px;

}

.diablitoons-text-start {
  position: relative;
  font-weight: 600;
  color: var(--color-black);
  padding: 0rem;
  max-width: 100%;
  text-align: left;
  font-style: normal;
}

.switch-text-start {
  font-style: normal;
  position: relative;
  font-weight: 600;
  color: var(--diablitoons-primary-100);
  padding: 0rem;
  max-width: 100%;
  text-align: left;
}

.mezcal1 {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  font-style: normal;
  position: relative;
  font-weight: 600;
  color: var(--diablitoons-primary-100);
  padding: 0rem;
  text-align: left;
}


.switch-text {
  font-style: normal;
  position: relative;
  font-weight: 600;
  max-width: 100%;
  color: var(--color-black);
  padding: 0rem;
  text-align: left;
}

.words {
  position: relative;
  height: 145px;
  width: 500px;
  overflow: hidden;
}

.word {
  background-color: var(--diablitoons-neutral-200);
  position: absolute;
  bottom: -100%;
  animation: slide-out 1s forwards;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

.word.active {
  position: absolute;
  opacity: 1;
  bottom: 0%;
  transform: translateY(0%);
  animation: slide-in 1s forwards;
}


@keyframes slide-in {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0%;
  }
}

@keyframes slide-out {
  from {
    bottom: 0%;
    transform: translateY(0%);
  }

  to {
    bottom: 50%;
    transform: translateY(-100%);
  }
}

.sub-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
}

.diablitoon-sub-header {
  position: relative;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  width: 1200px;
  height: 100%;
}


.minting-soon {
  margin-top: 1rem;
  border-radius: var(--br-xs);
  background-color: var(--diablitoons-primary-100);
  padding: 1rem 2rem;
  color: var(--diablitoons-neutral-100);
  align-items: center;
  justify-content: center;
  display: block;
  flex-direction: row;
  font-size: 16px;
  width: 110px;
  height: fit-content;
  text-align: center;
}

@media (max-width:1400px) {
  .diablitoons-text-main {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 1100px;
    height: fit-content;
    font-size: 100px;
  }

  .words {
    position: relative;
    height: 100%;
    width: 450px;
    overflow: hidden;
  }

  .diablitoon-sub-header {
    position: relative;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    width: 1000px;
    height: 100%;
  }
}

@media (max-width:1200px) {
  .diablitoons-text-main {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 900px;
    height: fit-content;
    font-size: 85px;
  }

  .words {
    position: relative;
    height: 100%;
    width: 350px;
    overflow: hidden;
  }

  .diablitoon-sub-header {
    position: relative;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    width: 800px;
    height: 100%;
  }
}

@media (max-width:1000px) {
  .diablitoons-text-main {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    height: fit-content;
    font-size: 75px;
  }

  .words {
    position: relative;
    height: 100%;
    width: 280px;
    overflow: hidden;
  }

  .diablitoon-sub-header {
    position: relative;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    width: 700px;
    height: 100%;
  }
}

@media (max-width:850px) {

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .diablitoons-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    width: fit-content;
    height: fit-content;
    margin-top: 10rem;
  }

  .diablitoons-text-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: fit-content;
    font-size: 50px;
  }

  .diablitoons-text-start {
    position: relative;
    font-weight: 600;
    color: var(--color-black);
    padding: 0rem;
    width: 350px;
    text-align: left;
  }

  .switch-text-start {
    position: relative;
    font-weight: 600;
    color: var(--diablitoons-primary-100);
    padding: 0rem;
    width: 300px;
    text-align: left;
  }

  .mezcal1 {
    position: relative;
    font-weight: 600;
    color: var(--diablitoons-primary-100);
    padding: 0rem;
    height: 100%;
    max-width: 100%;
    text-align: left;
    overflow: hidden;
    font-style: normal;
  }


  .switch-text {
    position: relative;
    font-weight: 600;
    color: var(--color-black);
    padding: 0rem;
    width: 350px;
    text-align: left;
  }

  .words {
    position: relative;
    height: 60px;
    width: 250px;
    overflow: hidden;
  }

  .sub-column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Inter';
    width: 100%;
    height: min-content;
    margin-top: 1rem;
  }

  .diablitoon-sub-header {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: left;
    width: 320px;
    height: 100%;
  }

  .minting-soon {
    color: var(--diablitoons-neutral-100);
    background-color: var(--diablitoons-primary-100);
    position: relative;
    display: block;
    border-radius: var(--br-xs);
    padding: 1rem 2rem;
    text-align: center;
    width: 110px;
    height: fit-content;
    font-size: 16px;
  }
}