header {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
}

.nav-container {
    flex-direction: row;
    padding: var(--padding-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.logo-head {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-main {
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: var(--br-lg);
    padding: var(--padding-lg) 0;
    align-items: center;
    justify-content: center;
}

.nav-group {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
    flex-grow: 1;
}

.nav-text {
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
}

.connect-wallet {
    border-radius: var(--br-xs);
    background-color: var(--diablitoons-primary-100);
    padding: 0.5rem 1rem;
    color: var(--diablitoons-neutral-100);

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.social-header {
    display: flex;
    flex-direction: row;
    padding: var(--padding-sm);
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
}


@media (max-width: 850px) {
    .nav-container {
        flex-direction: column;
    }

    .logo-head {
        justify-content: start;
    }
    .nav-group {
        flex-direction: column;
    }

    .nav-text {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
}