header {
    position: relative;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #777778;
    height: 100%;
    width: 100%;
    background-color: var(--diablitoons-neutral-200);
    font-family: 'Inter';
}

.nav-container {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo-head {
    position: relative;
    padding: 0rem;
    display: flex;
    height: 30px;
}

.nav-main {
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: var(--br-lg);
    padding: var(--padding-lg) 0;
    align-items: center;
    justify-content: center;
}

.nav-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
    flex-grow: 1;
}

.nav-text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    font-size: 18px;
    margin-right: 1rem;
}

.medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: #414141;
}

.connect-wallet {
    border-radius: 25px;
    background-color: var(--diablitoons-primary-100);
    color: var(--diablitoons-neutral-100);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 9.1rem;
    height: 50px;
}

.social-header {
    width: 15rem;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: var(--padding-sm);
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
}

.social-header img {
    max-height: 2rem;
    min-height: 1.5rem;
}

.panel {
    display: none;
}

.panel.open {
    display: none;
}

.menu-btn {
    display: none;
}

.menu-icon {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
}

.menu-btn-panel {
    display: none;
}

.menu-icon-panel {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
}


@media (max-width: 1000px) {
    .social-header {
        width: 15rem;
        height: auto;
        display: none;
        flex-direction: row;
        padding: var(--padding-sm);
        align-items: center;
        justify-content: center;
        gap: var(--gap-md);
    }
}

@media (max-width: 850px) {

    header {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #777778;
        height: 100%;
        width: 100%;
        background-color: var(--diablitoons-neutral-200);
        font-family: 'Inter';
        position: relative;
    }

    .nav-container {
        position: relative;
        flex-direction: row;
        display: flex;     
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        
    }

   /*  .menu-row {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    } */

    .logo-head {
      margin-left: 1rem;
        display: flex;
        height: 30px;
    }

    .menu-btn {
        margin-right: 1rem;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
    }

    .menu-icon {
        
        display: flex;
        width: 2rem;
        height: 1.5rem;
    }

    .nav-main {
        display: none;
    }

    .nav-group {
        display: none;
    }

    .nav-text {
        display: none;
    }

    .connect-wallet {
        display: none;
    }

    .social-header {
        display: none;
    }

    /* for panel */
    .panel {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: var(--diablitoons-neutral-200);
        z-index: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 1s ease-in-out;
        transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
        opacity: 1;
        position: relative;
        top: 0%;
    }

    .panel.open {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: var(--diablitoons-neutral-200);
        z-index: 0;
        -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        -webkit-transform: translate3d(0, 10.6%, 0);
        transform: translate3d(0, 10.6%, 0);
        opacity: 1;
        position: relative;
        top: 0%;
    }

    .panel-content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .menu-column {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--padding-sm);

        width: 100%;
    }

    .panel-title-text {
        width: 165px;
        height: 38px;

        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;

        color: #000000;
    }

    .menu-btn-panel {
        position: relative;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 5rem;
        height: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: var(--diablitoons-neutral-400);
    }

    .menu-icon-panel {
        display: flex;
    }

    .logo-head-panel {
        position: relative;
        justify-content: center;
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
        display: flex;
        align-items: center;
    }

    .nav-main-panel {
        display: flex;
        flex-direction: row;
        position: relative;
        border-radius: var(--br-lg);
        padding: var(--padding-lg) 0;
        align-items: center;
        justify-content: center;
    }

    .nav-group-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .nav-text-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        font-size: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }

    .connect-wallet-panel {
        border-radius: 20px;
        background-color: var(--diablitoons-primary-100);
        width: 9.1rem;
        height: 50px;
        color: var(--diablitoons-neutral-100);
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        line-height: 29px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
     
    }

    .social-header-panel {
        display: flex;
        flex-direction: row;
        padding: var(--padding-sm);
        align-items: center;
        justify-content: center;
        gap: var(--gap-md);
    }
}