.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--diablitoons-neutral-200);
  display: flex;
  flex-flow: column;
}

.divHeader {
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: flex-start;
  z-index: 2;
}

.videoContainer {
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoContainer-hidden {
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.lottie-container {
  position: relative;
  z-index: 2;
  max-width: 450px;
  max-height: 450px;
  margin-right: 2.5rem;
}

.clickable-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  cursor: pointer;
}

.lottie {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.video {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video::-webkit-media-controls-play-button {
  display: initial !important;
  height: 56px !important;
  width: 56px !important;
  margin: 0 !important;
}

.video::-webkit-media-controls-panel,
.video::-webkit-media-controls-start-playback-button,
.video::-webkit-media-controls-timeline-container,
.video::-webkit-media-controls-current-time-display,
.video::-webkit-media-controls-time-remaining-display,
.video::-webkit-media-controls-volume-slider-container,
.video::-webkit-media-controls-mute-button,
.video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

.sound-icon {
  position: absolute;
  bottom: 26px;
  right: 20px;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 5;
}

.main-page {
  overflow: scroll;
  position: relative;
  background-color: var(--diablitoons-neutral-200);
  margin: 0;
  padding: 0;
  font-size: var(--diablitoons-button-16-size);
  color: var(--diablitoons-neutral-700);
  font-family: var(--diablitoons-button-20);
  gap: 102px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}

.textVisible {
  margin-top: 88px;
  position: relative;
  z-index: 1;
  top: 0%;
  left: 0%;
  opacity: 1;
  transition: opacity 1s ease-in;
  width: 100%;
  height: 100%;
}

.textHidden {
  position: relative;
  z-index: 0;
  top: 0%;
  left: 0%;
  opacity: 0;
  width: 100%;
  height: 100%;

}

.toon-gif-container-visible {
  position: relative;
  top: 0%;
  z-index: 1;
  display: flex;
  max-width: 1400px;
  max-height: 100%;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.toon-gif-container-hidden {
  position: relative;
  top: 0%;
  z-index: 0;
  display: flex;
  max-width: 1400px;
  height: 0vh;
  opacity: 0;
}

.toon-gif {
  display: flex;
  width: 100%;
  height: auto;
}

@media (max-width:850px) {
  .main-page {
    overflow: hidden;
    position: relative;
    background-color: var(--diablitoons-neutral-200);
    margin: 0;
    padding: 0;
    font-size: var(--diablitoons-button-16-size);
    color: var(--diablitoons-neutral-700);
    font-family: var(--diablitoons-button-20);
    gap: 0px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
    flex: 1 1 auto;
  }

  .textVisible {
    margin-top: 60px;
    position: relative;
    width: 100%;
    height: min-content;
    opacity: 1;
    transition: opacity 1s ease-in;
  }

  .toon-gif-container-visible {
    margin-top: 50px;
    position: relative;
    z-index: 1;
    display: flex;
    max-width: 800px;
    min-width: none;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in;
  }

  .toon-gif-container-hidden {
    position: relative;
    z-index: 0;
    display: flex;
    width: 400px;
    height: auto;
    opacity: 0;
  }

  .videoContainer {
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .videoContainer-hidden {
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .video {
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .lottie-container {
    position: relative;
    z-index: 3;
    width: 350px;
    height: 350px;  
    margin-right: 1.5rem;
  }
/* 800px and rem before last commit */
  .clickable-area {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3rem;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 3;
  }


  .lottie {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    cursor: pointer;
  
  }

}