.main-page {
  position: relative;
  background-color: var(--diablitoons-neutral-200);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: var(--diablitoons-button-16-size);
  color: var(--diablitoons-neutral-700);
  font-family: var(--diablitoons-button-20);
}

.video {
  opacity: 1;
  width: min-content;
  height: min-content;
}

.videoHidden {
  opacity: 0;
  display: none;
}

.textVisible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.textHidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@media (max-width:850px) {
  
}