.main-page {
  position: relative;
  background-color: var(--diablitoons-neutral-200);
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--diablitoons-button-16-size);
  color: var(--diablitoons-neutral-700);
  font-family: var(--diablitoons-button-20);
}


