@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Century+Gothic:wght@700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --diablitoons-button-20: Inter;
  --diablitoons-heading-40: "Century Gothic";

  /* font sizes */
  --diablitoons-button-16-size: 16px;
  --diablitoons-button-20-size: 24px;
  --diablitoons-heading-24-size: 30px;
  --diablitoons-heading-40-size: 40px;
  --font-size-2xl: 120px;

  /* Colors */
  --diablitoons-neutral-200: #f6f7fa;
  --diablitoons-primary-100: #e03547;
  --color-black: #000;
  --diablitoons-neutral-100: #fff;
  --diablitoons-neutral-600: #414141;
  --diablitoons-neutral-700: #2d2d2d;
  --diablitoons-neutral-400: #d3d5de;
  --twitter: #1d9bf0;

  /* Gaps */
  --gap-sm: 20px;
  --gap-md: 28px;
  --gap-lg: 40px;

  /* Paddings */
  --padding-2xs: 4px;
  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding-md: 13px;
  --padding-lg: 20px;
  --padding-xl: 28px;
  --padding-2xl: 120px;

  /* border radiuses */
  --br-xs: 4px;
  --br-sm: 10px;
  --br-md: 20px;
  --br-lg: 40px;
  --br-xl: 80px;
}
